<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <title>To Do List</title>
  </head>
    <body>
      <div id="livearea" ng-controller="FormController as td">
        <span id="headline">TODO List</span>
        <br>
        <span>A place to store the things you have to do!</span>
        <form>
          <input type="text" placeholder="Filter your to-dos" ng-model="filterTask">
        </form>
        <form ng-sumbit="td.addToDo(task)">
          <ol>
            <li ng-repeat="task in td.todoList | filter: filterTask">{{ task }}
              <span flex></span><i id="removeButton" class="material-icons close" ng-click="td.removeToDo($index)">close</i>
            </li>
          </ol>
          <input type="text" placeholder="Add your to-do" ng-model="task">
          <button id="addButton" ng-click="td.addToDo(task)">Add</button>
          <!-- .updateValue('') -->
        </form>
      </div>
    </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
<script src="module.js"></script>
<script src="controller.js"></script>
